# Laravel específico
/bootstrap/compiled.php
/bootstrap/cache
/storage/app
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/storage/logs
/public/storage
/public/hot
/public/build

# Dependências
/vendor
/node_modules

# Docker & Laravel Sail
docker-compose.override.yml
.sail/
sail

# Arquivos de ambiente
.env
.env.backup
.env.production
.env.local
.env.*.local

# Arquivos de configuração do IDE
/.idea
/.vscode
/.fleet
/.zed
/.nova
/.phpactor.json

# Arquivos temporários e cache
*.log
*.cache
.DS_Store
Thumbs.db
.phpunit.result.cache
/.phpunit.cache

# Arquivos de build e desenvolvimento
/auth.json
/public/mix-manifest.json
npm-debug.log
yarn-error.log
*.tmp
*.temp

# Arquivos do Homestead
Homestead.json
Homestead.yaml

# Arquivos de backup
*.sql
*.backup
*.bak

# Arquivos de sistema
/storage/*.key
/storage/pail

# Arquivos de teste
coverage/
.nyc_output/
tests/_output
tests/_support/_generated

# Arquivos específicos do Windows
*.lnk
ehthumbs.db
ehthumbs_vista.db
Desktop.ini

# Arquivos específicos do macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Arquivos específicos do Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
